@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: 'Poppins', sans-serif;
    margin:auto;
    width:90vw;
    max-width:1600px;
    overflow-x:hidden;
    scroll-behavior: smooth;
}
header {
    background:#fff;
    margin: min(5vw, 75px) 30px 0px;
    font-weight:bold;
}
a {
    color: inherit;
    text-decoration: inherit;
}
#name {
    font-size:min(4vw, 42pt);
    border-bottom:4px solid rgb(100, 44, 90);
}
#about {
    margin: min(7.5vw, 100px) 30px 0px;
    justify-content:center;
    text-align:left;
    font-size: min(2vw, 22pt);
    width:min(75vw, 900px);
}
#about h1 {
    font-size:min(3vw, 38pt);
    word-wrap:break-word;
}
#games {
    font-weight:bold;
}
#games h1 {
    margin: min(10vw, 180px) 30px min(3vw, 50px);
    border-bottom:4px solid rgb(100, 44, 90);
    font-size:min(3vw, 38pt);
}
hr.rounded {
    border-top: 4px solid rgb(100, 44, 90);
    border-radius: 5px;
    margin-bottom: 1.5vw;
}
.game-table {
    margin: 0px auto;
    padding-bottom: 1.5vw;
}
.game-info {
    padding-right:min(1vw, 30px);
    width: min(45vw, 740px);
    text-align:center;
}
.game-image {
    padding-left:min(1vw, 30px);
    width: min(45vw, 740px);
    height: auto;
}
.game-title {
    font-size: min(3.5vw, 45pt);
    padding-bottom: 0.75vw;
}
.game-desc {
    font-size: min(2vw, 24pt);
    padding-bottom: 1.5vw;
}
.game-role {
    font-size: min(1.5vw, 20pt);
    padding-bottom: 0.5vw;
}
.game-platforms {
    font-size: min(2vw, 24pt);
}
/* #contact {
    padding-bottom:150px;
} */
.link {
    color: blue;
    text-decoration: underline;
}
#contact h1 {
    margin: min(3vw, 30px) 30px;
    font-size:min(3vw, 38pt);
}
.contact-container {
    margin: 0px 30px;
    display: flex;
}
.contact-item {
    margin: 0px min(1.25vw, 20px);
    text-align: center;
}
.contact-item a {
    color:#000;
    font-size:min(3.5vw, 42pt);
    font-weight:bold;
}
.contact-item:hover a { 
    cursor: pointer;
    color:rgb(100, 44, 90);
}
::placeholder {
    color:#000;
}
::-webkit-scrollbar {
    width:5px;
    height:5px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0); 
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0,0.8); 
}
