@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: 'Poppins', sans-serif;
    padding:0px;
    margin:0px;
    max-width:100vw;
    overflow-x:hidden;
    scroll-behavior: smooth;
    /* color: #444452 */
}
header {
    width:100vw;
    padding:3vh 4vw;
    position:fixed;
    font-weight:bold;
    background:transparent;
    transition:0.4s ease-in-out;
    z-index:2;
}
header table {
    width:100%;
}
.header-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    max-width: 500px;
    padding-left: 10vw;
    /* margin: auto; */
}
#name {
    font-size:52px;
    /* color:rgb(100, 44, 90); */
    border-bottom:4px solid rgb(100, 44, 90);
}
#email {
    font-size:22px;
    padding-bottom:12px;
    border-bottom:4px solid rgb(100, 44, 90);
}
#magnify {
    width:100vw;
    height:100vh;
    background:rgba(0, 0, 0, 0.92);
    position:fixed;
    z-index:4;
    display:none;
    flex-direction: column;
    justify-content:center;
}
#magnify h1 {
    position:absolute;
    top:0;
    right:0;
    margin:20px 40px;
    color:#fff;
    transition:0.4s ease-in-out;
}
#magnify h1:hover{
    color:rgb(255, 44, 90);
    cursor:pointer;
}
#img_here {
    width:90%;
    height:90%;
    background-size:contain !important;
    background-repeat:no-repeat !important;
    margin:0px auto;
}
#about {
    width:84% !important;
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align:left;
    padding:25vh 10vw;
    font-size:24px;
}
#about h1 {
    font-size:38px;
    word-wrap:break-word;
}
#games {
    width:84% !important;
    padding:0vh 10vw;
    font-weight:bold;
}
#games h1 {
    padding:5px 0px;
    border-bottom:4px solid rgb(100, 44, 90);
    margin-bottom: 32px;
    width:6%;
}
/* TODO: Max size on this? */
.project-container {
    width: 84%;
    padding-bottom: 47.25%;
    position: relative;
    transition:0.4s ease-in-out;
    box-shadow: 5px 5px 6px rgb(121, 121, 121);
}
.project-container:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.project-container:hover .project-overlay {
    /* TODO: Make this transition. */
    opacity: 1;
}
.project-overlay {
    opacity: 0;
    transition:0.4s ease-in-out;
}
.project-image, .project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.4);
}
.project-text-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#fff;
}
.project-text-title {
    padding-top:32px;
    font-size: 60px;
    color: rgb(223, 223, 223);
}
.project-text-desc {
    font-size: 24px;
    color: rgb(214, 214, 214);
    flex-grow: 1;
}
.project-text-role {
    font-size: 26px;
    color: rgb(223, 223, 223);
}
.project-text-platforms {
    font-size: 30px;
    color: rgb(156, 156, 156);
    padding-bottom: 32px;
}
#games img {
    width:100%;
    height:100%;
}
#contact {
    width:84%;
    padding:25vh 10vw;
}
#contact h1 {
    padding:5px 0px;
    border-bottom:4px solid rgb(100, 44, 90);
    width:10%;
}
.contact-container {
    display: flex;
}
.contact-item {
    width: 65px;
    height: 65px;
    border-radius:50%;
    margin: 0px 10px;
    background:transparent;
    transition:0.4s ease-in-out;
    text-align: center;
}
.contact-item:hover {
    background:rgb(100, 44, 90);
    box-shadow:0px 10px 30px rgba(100, 44, 90, 0.8);
}
.contact-item a {
    color:#000;
    font-size:40px;
    border-radius:50%;
    background:transparent;
    transition:0.4s ease-in-out;
    font-weight:bold;
}
.contact-item:hover a { 
    cursor: pointer;
    color:#fff;
    /* background:rgb(100, 44, 90);
    box-shadow:0px 10px 30px rgba(100, 44, 90, 0.8); */
}
::placeholder {
    color:#000;
}
button:focus {
    outline:none;
}
::-webkit-scrollbar {
    width:5px;
    height:5px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0); 
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0,0.8); 
}
