@import url('https://fonts.googleapis.com/css?family=Poppins');

/* TODO: Make the styling better for mobile/large dimensions. */
/* TODO: Better colors (dark theme)? */
body {
    font-family: 'Poppins', sans-serif;
    margin:auto;
    width:min(84vw, 900px);
    /* max-width:100vw; */
    overflow-x:hidden;
    scroll-behavior: smooth;
}
header {
    width:100vw;
    padding:3vh 4vw;
    position:fixed;
    font-weight:bold;
    background:transparent;
    transition:0.4s ease-in-out;
    z-index:2;
}
.header-container {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    max-width: 500px;
    padding-left: 10vw;
}
#name {
    font-size:52px;
    border-bottom:4px solid rgb(100, 44, 90);
}
#email {
    font-size:22px;
    padding-bottom:12px;
    border-bottom:4px solid rgb(100, 44, 90);
}
#about {
    margin-top:100px;
    margin-left:30px;
    margin-right:30px;
    justify-content:center;
    text-align:left;
    font-size:min(3vw, 24px);
    width:min(75vw, 820px);
}
#about h1 {
    font-size:min(3.5vw, 30px);
    word-wrap:break-word;
}
#games {
    /* display: flex;
    flex-direction: column; */
    /* width:84%;
    padding:0vh 10vw; */
    font-weight:bold;
}
#games h1 {
    margin-left:30px;
    margin-right: 30px;
    /* TODO: This border-bottom gets weird with changing window size. */
    border-bottom:4px solid rgb(100, 44, 90);
    margin-bottom: 32px;
    margin-top:175px;
    /* width:34%; */
}
/* #games img {
    width:100%;
    height:100%;
} */
.game-container {
    display: table;
    overflow: hidden;
    width: 1200px;
}
.game-row {
    display: table-row;
}
.game-info {
    width:auto;
    text-align:center;
    padding-right: 60px;
}
.game-media {
    width: 620px;
    display: table-cell;
}
.game-image {
    width: 600px;
    height: auto;
}
.game-title {
    font-size: 32pt;
    padding-bottom: 10px;
}
.game-desc {
    font-size: 24pt;
    padding-bottom: 30px;
}
.game-role {
    font-size: 20pt;
}
.game-platforms {
    font-size: 24pt;
}
.project-container {
    object-fit: cover;
    width: 80vw;
    height: 45vw;
    max-width: 1000px;
    max-height: 562.5px;
    margin-bottom:45px;
    position: relative;
    transition:0.4s ease-in-out;
    box-shadow: 5px 5px 6px rgb(121, 121, 121);
}
.project-container:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.project-container:hover .project-overlay {
    opacity: 1;
}
.project-overlay {
    opacity: 0;
    transition:0.4s ease-in-out;
}
.project-image, .project-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.project-text-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:#fff;
}
.project-text-title {
    padding-top:32px;
    font-size: 60px;
    color: rgb(255, 255, 255);
}
.project-text-desc {
    padding: 0px 32px;
    text-align: center;
    font-size: 24px;
    color: rgb(255, 255, 255);
    flex-grow: 1;
}
.project-text-role {
    font-size: 26px;
    color: rgb(223, 223, 223);
}
.project-text-platforms {
    font-size: 30px;
    color: rgb(156, 156, 156);
    padding-bottom: 32px;
}
#contact {
    width:84%;
    padding:12vh 10vw 7vh;
}
#contact h1 {
    padding:5px 0px;
    border-bottom:4px solid rgb(100, 44, 90);
    width:10%;
}
.contact-container {
    display: flex;
}
.contact-item {
    width: 65px;
    height: 65px;
    border-radius:50%;
    margin: 0px 5px;
    background:transparent;
    transition:0.4s ease-in-out;
    text-align: center;
}
.contact-item:hover {
    background:rgb(100, 44, 90);
    box-shadow:0px 10px 30px rgba(100, 44, 90, 0.8);
}
.contact-item a {
    color:#000;
    line-height: 65px;
    font-size:40px;
    border-radius:50%;
    background:transparent;
    transition:0.4s ease-in-out;
    font-weight:bold;
}
.contact-item:hover a { 
    cursor: pointer;
    color:#fff;
}
::placeholder {
    color:#000;
}
::-webkit-scrollbar {
    width:5px;
    height:5px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0); 
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0,0.8); 
}
