@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: 'Poppins', sans-serif;
    padding:0px;
    margin:0px;
    max-width:100vw;
    overflow-x:hidden;
    scroll-behavior: smooth;
}
header {
    width:92vw;
    padding:6vh 4vw;
    position:fixed;
    font-weight:bold;
    background:transparent;
    transition:0.4s ease-in-out;
    z-index:2;
}
header table {
    width:100%;
}
.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 500px;
    margin: auto;
}
#name {
    font-size:50px;
    color:rgb(100, 44, 90);
}
#email {
    font-size:14px;
}
#magnify {
    width:100vw;
    height:100vh;
    background:rgba(0, 0, 0, 0.92);
    position:fixed;
    z-index:4;
    display:none;
    flex-direction: column;
    justify-content:center;
}
#magnify h1 {
    position:absolute;
    top:0;
    right:0;
    margin:20px 40px;
    color:#fff;
    transition:0.4s ease-in-out;
}
#magnify h1:hover{
    color:rgb(255, 44, 90);
    cursor:pointer;
}
#img_here {
    width:90%;
    height:90%;
    background-size:contain !important;
    background-repeat:no-repeat !important;
    margin:0px auto;
}
#about {
    width:84% !important;
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align:left;
    padding:15vh 10vw 8vh;
    font-size:24px;
}
#about h1 {
    font-size:45px;
    word-wrap:break-word;
}
#games {
    width:84% !important;
    padding:0vh 10vw;
    font-weight:bold;
}
#games h1 {
    padding:5px 0px;
    border-bottom:4px solid rgb(100, 44, 90);
    margin-bottom: 32px;
    width:6%;
}
.social {
    color:rgb(255, 44, 90);
    font-size:23px;
    padding:12px 17px;
    border-radius:50%;
    background:transparent;
    transition:0.4s ease-in-out;
    font-weight:bold;
    margin:0px 8px;
}
.social:hover { 
    cursor: pointer;
    color:#fff;
    background:rgb(255, 44, 90);
    box-shadow:0px 10px 30px rgba(255, 66, 107,0.8);
}
/* TODO: Max size on this? */
.project-container {
    width: 84%;
    padding-bottom: 47.25%;
    position: relative;
    transition:0.4s ease-in-out;
}
.project-container:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.project-container:hover .project-overlay {
    /* TODO: Make this transition. */
    opacity: 1;
}
.project-overlay {
    opacity: 0;
}
.project-image, .project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.4);
}
#games img {
    width:100%;
    height:100%;
}
#photos {
    width:100%;
    columns:3;
    column-gap:4%;
    z-index:1;
    transition:0.4s ease-in-out;
}
/* #games img {
    transition:0.4s ease-in-out;
}
#games img:hover {
    transform: scale(1.1);
    cursor: pointer;
} */
#bio {
    width:92vw;
    padding:6vh 4vw;
    font-weight:bold;
}
#bio h1 {
    padding:5px 0px;
    border-bottom:4px solid rgb(100, 44, 90);
    width:8%;
}
#contact {
    width:92vw;
    padding:6vh 4vw;
}
#contact h1 {
    padding:5px 0px;
    border-bottom:4px solid rgb(100, 44, 90);
    width:10%;
}
#contact table {
    width:100%;
}
#contact table tr td {
    width:50%;
}
#inner_div table{
    width:100%;
}
#inner_div table tr td{
    font-weight:bold;
}
#inner_table tr td{
    padding:10px 20px !important;
}
::placeholder {
    color:#000;
}
button:focus {
    outline:none;
}
::-webkit-scrollbar {
    width:5px;
    height:5px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0); 
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0,0.8); 
}
